body,th,td{
  color:#000000;
  background-color:#ffffff;
}
td{
  vertical-align:top;
}
a:link   {color:#006699;}
a:visited{color:#339933;}
a:active {color:#ff33cc;}
h1{
  color:#cc3300;
  text-align:center;
}
ul{
  margin:0;
  padding-left:1em;
}
.notice{
  color:#ff0000;
  text-align:center;
}
.parent{
  position:relative;
  text-align:center;
  margin:1em auto 1em auto;
  width:600px;
}
div#fem-canvas{
  width:600px;
  height:380px;
  position:absolute;
  z-index:2;
}
div#info-canvas{
  width:12em;
  height:2em;
  text-align:left;
  font:10pt Arial;
  padding:3pt;
  color:#ffffff;
  background-color:rgba(0,0,0,0);
  position:absolute;
  z-index:3;
}
canvas#colorbar{
  left:450px;
  width:150px;
  height:380px;
  background-color:transparent;
  position:absolute;
  z-index:3;
}
div#file,div#calc,div#result,div#config{
  width:500px;
  height:300px;
  top:3em;
  left:50px;
  color:#000000;
  background-color:#ffffff;
  border-radius:10px;
  z-index:1;
  position:absolute;
  opacity:0;
  transition:0.3s;
}
div#file input{
  margin:1em 1em 0 0;
}
div#calc input{
  margin:0 2px 0 1em;
}
div#file p{
  text-align:left;
  margin-left:40px;
  width:420px;
  line-height:1.5em;
  position:relative;
}
div#file input[type="button"]{
  position:absolute;
  right:0;
}
div#calc p,div#result p{
  text-align:left;
  margin-left:70px;
  line-height:1.5em;
}
div#result input[type="number"],div#config input[type="number"]{
  width:6em;
}
canvas#el-color{
  width:220px;
  height:150px;
}
div#config a{
  background-color:#cccccc;
  color:#000000;
  text-decoration:none;
  padding:2px;
}
.control{
  top:380px;
  padding:2pt 0 2pt 0;
  background-color:#ffffff;
  position:absolute;
}
